#block-deb-and-rob-content {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 2rem;
    border: 1px solid lightgray;
    margin: 0;
    padding: 0;
}

#block-deb-and-rob-content img.qrcode {
    height: auto;
    justify-self: center;
    width: clamp(300px, calc(246px + 16.875vw), 570px);
}

#block-deb-and-rob-content .masonry-layout .masonry-item img {
    display: block;
    height: auto;
    width: 100px;

    @media (min-width: 768px) {
        width: 220px;
    }

    @media (min-width: 1200px) {
        width: 300px;
    }
}

#block-deb-and-rob-content .view-gallery-page__header {
  font-family: var(--title-font);
  font-size: clamp(1.5rem, calc(1.350rem + 0.450vw), 4rem);
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

#block-deb-and-rob-content .view-gallery-page__header a {
  display: block;
  font-size: clamp(1.5rem, 2.5vw + 1rem, 4rem);
  left: 18px;
  position: absolute;
  top: 0;
}

#block-deb-and-rob-content .view-gallery-page__header h1 {
  font-size: clamp(2rem, 2vw + 1.6rem, 4rem);
  margin: 0;
  padding: 0 0.4rem;
  text-wrap: balance;
}

#block-deb-and-rob-copyright {
    font-size: .5rem;
}

#block-deb-and-rob-masthead img {
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
    height: auto;
    width: clamp(300px, calc(142px + 49.375vw), 1090px);
}

#user-login-form {
    margin: 4rem;
}

#edit-name,
#edit-pass {
    width: 20vw;
}
