.no-results a {
    display: none;
    font-size: clamp(1.5rem, 2.5vw + 1rem, 4rem);
}

.no-results {
    font-style: italic;
}

.views-element-container {
    margin: 1rem auto;
}

.view-gallery-page {
    margin: 0 auto;
    width: 100%;
}

.view-gallery-page .masonry {
    margin: 0 auto;
}